body {
  background-color: #F8E6E6;
}

header {
  /*position: fixed;*/
  background-color: #18132a;
  width: 100vw;
}

nav {
  width: 100%;
}

h1 {
  color: white;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
    width: 150px;
    text-align: center;
  }
}


#logo {
  width: 40px;
  height: 40px;
  object-fit: contain;
  background-color: grey;
}

#navbar-button {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#about-me {
  background-color: #4240A3;
}

#my-infos {
  position: static;
  height: 200px;
  font-size: calc(10px + 2vw);
  text-align: center;
  color: white;
}

.my-infos-text {
  margin-top: 10vw;
  background-color: rgba(255, 140, 0, 0.4);
}


#photo-mobile {
  width: 100%;
  object-fit: contain;
}

#photo-pc {
  width: 100%;
  object-fit: contain;
}

.nav-item {
  color: #F8E6E6;
  font-weight: bold;
  font-size: 1.2rem;
}
