#about-me-title {
  font-size: 8vw;
  white-space: nowrap;
}
#about-me-sub {
  font-size: 3vw;
  white-space: nowrap;
}

@media (min-width:768px) {
  #about-me-title {
    font-size: 6vw
  }
  #about-me-sub {
    font-size: 2vw
  }
}

@media (min-width:992px) {
  #about-me-title {
    font-size: 4vw
  }
  #about-me-sub {
    font-size: 1vw
  }
}

.container-3d {
  width: 10vw;
  overflow: hidden;
  opacity: 1;
  transition: 1s;
}


.container-3d:hover {
  width: 40vw;
  margin-right: 10px;
  opacity: 1;
}

.card-3d {
  width: 40vw;
  height: 40vh;
  border: 2px solid black;
  transition: 1s;
  transform-origin: left;
  transform: perspective(60vw) rotateY(50deg);
}

.container-3d:hover .card-3d {
  transform: perspective(0) rotateY(0);
  z-index: 10
}

.card-3d-title {
  font-size: 3vw;
  position: relative;
  left: -10vw;
  transition: 1s;
}

.container-3d:hover .card-3d-title {
left: 0;
}

.bg-my-simple {
  background-color: #F8E6E6!important;
}
